.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: white 3px solid !important;
}

/* this class is already included with materialize autocomplete */
.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow a {
  padding: 0 5px;
}
